body {
  display: flex;
  flex-direction: column;
  background-image:url("/images/curtain.png");
}
body h1 {
    color: red;
    font-family: cursive ;
}

img {
   padding:1px;
   border:1px solid #021a40;
}

body a {

font-size: 50px;
color: blue;
font-family: cursive;

}

p {
	font : black;
}


