@import url('https://fonts.googleapis.com/css?family=Jockey+One');

body {
  display: flex;
  flex-direction: column;
  background-image:url("/images/curtain.png");
  background-repeat: no-repeat;
  background-position: static;
  background-size: 100%, 100%;
  align-items: stretch;
  padding-top: 400px;
  background-attachment: fixed;
  
}


header {
}
body h1 {
	font-family: 'Jockey One', sans-serif;
    color: red;
    font-family: cursive ;
}

img {
   padding:1px;
   box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

body a {

font-size: 50px;
color: blue;
font-family: cursive;

}

.main_content {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 800px;
}


nav {
	font-family: 'Jockey One', sans-serif;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav ul {
    list-style-type: none;
    margin-top: -10px;
    overflow: hidden;
    background-color: #333;
}
nav li {
    float: left;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}
nav li a {
display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    font-size: 25px;
    
}

nav li a:hover {
    background-color: #111;
    padding-bottom: 16px;
}

nav {
    margin: auto;
    padding-top: -500px;
    text-align: center;

}
p {
  font : black;

}
.iframe {
  align-self: center;

}

body {
	
  display: flex;
  flex-direction: column;
  background-image:url("/images/curtain.png");
  background-repeat: no-repeat;
  background-position: static;
  background-size: 100%, 50%;
  align-items: center;
  padding-top: 0;
}
body h1 {
    color: red;
    font-family: cursive ;
    	font-family: 'Jockey One', sans-serif;
    font-size: 70px;
}
body h2 {
    color: red;
    font-family: cursive ;
    	font-family: 'Jockey One', sans-serif;
    font-size: 50px;
}


img {
  
}

body a {

font-size: 50px;
color: blue;
font-family: cursive;

}

p {
  font : black;
}
.iframe {
  align-self: center;

}
.backtomain {
	font-size: 25px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 16px;
   background-color: #101010;
  text-align: right;
  color: white;
}
.tags {
	background-color: lightblue;
	  font-color: black;
  border: solid 3px grey;	
  	font-size: 30px;
  
}
ul li {
	list-style-type: none;
}
.movieinfo {
	   margin-top : 50px;
   border:1px solid #021a40;
   padding: 10px;
}