<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Jamie's Movie Reviews</title>
	<link rel="stylesheet" type="text/css" href="styles.css"></link>
</head>
<body>
<h1 th:text="${onereview.title}"></h1>

<img th:src="${onereview.imageUrl}" height="400px" width="800px"></img>
<p th:text="${onereview.title}"></p>
<p th:text="${onereview.reviewCategory}"></p>
<p th:text="${onereview.content}"></p>
<p th:text="${onereview.date}"></p>
<p th:text="${onereview.synopsis}"></p>

</body>
</html>