<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Jamie's Movie Reviews</title>
	<link rel="stylesheet" type="text/css" href="styles.css"></link>
</head>
<body>
<nav>
  <ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/genres">Genres</a></li>
  <li><a href="/alltags">Tags</a></li>
</ul>
  </nav>
    <div class="main_content">
  
<h1 th:text="${onereview.title}"></h1>

<img th:src="${onereview.imageUrl}" height="400px" width="800px"></img>
<p>Genre:<span th:text="${onereview.genre.title}"/></p>
<p th:text="${onereview.content}"></p>
<p>Release Date:<span th:text="${onereview.date}"/></p>
<p>Synopsis:<spqan th:text="${onereview.synopsis}"/></p>
 
<h1>Tags</h1>
<div class="tags">
	<form>
		<input name="reviewId" type="hidden" th:value="${onereview.id}" />
		<ul>
			<li th:each="tag: ${onereview.tags}"><a th:href="@{/tag(id=${tag.id})}"><span th:text="${tag.name}" /></a>	
			<button name="tagId" th:value="${tag.id}" th:formaction="@{/tags/delete}">delete</button></li>
		</ul>
	</form>
	
	
	<form method="POST">
			<input name="id" type="hidden" th:value="${onereview.id}" />
	
		<label>Add Tag: <input type="text" name="name" /></label>
		<br/>
		<button th:formaction="@{/createTag}">Create Tag</button>	
		</form>	
	</div>
	
	<p><a class = "backtomain" href="/home">Back to The Movie Lounge</a></p>
	</div>
	
</body>

</html>