<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Lounge Movie Reviews</title>
	<link rel="stylesheet" type="text/css" href="/styles.css"></link>
</head>
<body>
<h1>The Lounge Movie Reviews</h1>
    <h2> Welcome movie lovers! Please click on the links below to review your movies.</h2>


<img src="images/movie.jpg" width="1200" height="350"/>
 

<a th:each="review: ${reviewsAsCollection}" th:href="@{http://localhost:8080/onereview/(id=${review.id})}">
<div th:text="${review.title}"></div></a>
<div id="background"></div> 


</body>
</html>