body h1 {
    color: red;
    font-family: cursive ;
}

body {
	
    background-color: lightyellow;
}

img {
   padding:1px;
   border:1px solid #021a40;
}

body a {

font-size: 30px;
color: blue;
font-family: cursive;

}

p {
	font : black;
}